html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: arial;
}
#burger_menu_icon{
    position: relative;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 100%;
    padding-right: 5px;
    display: none;
    margin: 0;
}
/* #cross_icon{
    transform: translate(-100%, -50%);
    left: 100%;
    top: 50%;
    position: relative;
    height: 50px;
    margin: 0;
}
#cross_container{
    height: 75px;
} */
#logo{
    /* margin-left: 160px; */
    position: fixed;
    height: 70px;
}
#topbar{
    z-index: 1;
    width: 100vw;
    position: fixed;
    background-color: white;
    display: flex;
    border-bottom: thin solid;
    font-size: 20px;
    height: 70px;
    padding: 5px;
}
#app_title{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 225px;
    transform: translate(-50%, -50%);
    display: flex;
    visibility: visible;
    /* gap: 4vw; */
}
#app_title > h1{
    text-decoration: none;
    color: black;
}
#app_title > a:hover{
    color: burlywood;
}
.active{
    color: burlywood !important;
}
/* #popup_menu{
    z-index: 3;
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    width: 100vw;
    position: fixed;
    visibility: hidden;
}
#links > div > a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}
#cross_icon{
    height: 70px;
}
#links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#links > div {
    padding-top: 20px;
    text-align: center;
} */

/* Fullscreen overlay */
#pop_up_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
    display: none; /* Hidden by default */
    z-index: 1000;
}

/* Menu content */
#pop_up_menu_content {
    padding: 40px;
    color: black;
    text-align: center;
}

#pop_up_menu_content a {
    display: block;
    padding-bottom: 10px;
    font-size: 19px;
    color: black;
    text-decoration: none;
}

#pop_up_menu p {
    display: block;
    padding-top: 15px;
    font-size: 19px;
    color: red;
    font-weight: bold;
}

#pop_up_menu_content a:hover {
    font-weight: bold;
}

/* Close button */
#cross_icon {
    position: absolute;
    transform: translate(-100%);
    left: 100%;
    height: 70px;
}

#layout{
    display: flex;
}

#main {
  flex: 1;
}

footer{
    height: auto;
    width: 100vw;
    z-index: 0;
    width: 100vw;
    position: relative;
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
footer > div{
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 1 fit-content;
    text-align: center;
}
footer > div > a{
    color: rgb(69, 29, 29);
}
.sidebar_menu {
  height: 100%;
  width: 160px;
  padding-top: 120px;
  z-index: 1;
  float: right;
  overflow-x: hidden;
  border-left: solid black;
  border-width: thin;
  display: block;
}

.sidebar_menu a {
  padding-left: 20px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
}

.sidebar_menu a:hover {
  font-weight: bold;
}

.sidebar_menu p {
    font-size: 19px;
    color: red;
    padding-left: 20px;
}

/* Mobile */
@media (max-width: 799px) {

    #sidebar_menu {
        display: none;
    }

    #topbar {
        height: 50px;
    }

    #logo {
        height: 50px;
    }

    #burger_menu_icon {
        display: block;
    }

    #app_title {
        visibility: hidden;
    }

}