<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Alert.css">
</head>
<body>

    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert info">
            <span class="alertClose">X</span>
            <span class="alertText">Bla Bla Bla
            <br class="clear"/></span>
        </div>
    </label>

    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert success" id="alert_success">
            <span class="alertClose">X</span>
            <span class="alertText" id="alert_success_text">
            <br class="clear"/></span>
        </div>
    </label>

    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert notice">
            <span class="alertClose">X</span>
            <span class="alertText">
            <br class="clear"/></span>
        </div>
    </label>

    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert warning" id="alert_warning">
            <span class="alertClose">X</span>
            <span class="alertText" id="alert_warning_text">
            <br class="clear"/></span>
        </div>
    </label>

    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert error">
            <span class="alertClose">X</span>
            <span class="alertText">Bla Bla Bla
            <br class="clear"/></span>
        </div>
    </label>

</body>
</html>