.results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.result{
    border: 1px solid black;
    color: black;
}
.forward-icon {
    float: right;
    width: 50px;
}
.text{
    margin: 0;
    position: absolute;
    transform: translate(0%, 75%);
    padding-left: 10px;
}