.alert {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 10%);
  width: auto;
  height: auto;
  padding: 20px;
  margin: 10px;
  line-height: 1.8;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 400;
  z-index: 10;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-left: 20px;
  font-size: 16px;
}

.clear {
  clear: both;
}

.info {
  background-color: #EEE;
  border: 1px solid #DDD;
  color: #999;
  display: none;
  display: none;
}

.success {
  background-color: #EFE;
  border: 1px solid #DED;
  color: #9A9;
  display: none;
}

.notice {
  background-color: #EFF;
  border: 1px solid #DEE;
  color: #9AA;
  display: none;
}

.warning {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
  display: none;
}

.error {
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
  display: none;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

/* Animation class (not applied by default) */
.animate {
    animation: fadeInOut 5s;
}

