

:root {
  --progress-bar-width: 100px;
  --progress-bar-height: 100px;
  --font-size: 24px;
}

.circular-progress {
  position: relative;
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 15px);
  height: calc(var(--progress-bar-height) - 15px);
  border-radius: 50%;
  background-color: lightgrey;
}

.percentage {
  position: relative;
  font-size: var(--font-size);
  color: rgb(0, 0, 0, 0.8);
}

/* Attendance percentage + delta */

.attendance-delta {
    font-weight: 500;
    z-index: 0;
}

.negative {
    color: #b91c1c;
}

.positive {
    color: #15803d;
}

.stable {
    color: grey;
}