label {display: block;}

input {
width: 100%;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox] {
/* width: 100%; */
padding: 14px;
margin: 8px 0;
cursor: pointer;
}

input[type=submit] {
width: 100%;
background-color: green;
color: white;
padding: 14px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

input[type=submit]:hover {
background-color: #013220;
}

.table-container {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
}

table thead {
    background: #f9fafb;
}

table th, td {
    padding: 10px;
}

table th {
    font-weight: 500;
    color: #6b7280;
    /* font-size: 16px; */
}

table tbody tr:nth-child(even) {
    background: #f9fafb;
}

table tbody tr:hover {
    background: #eef2ff;
}

.hidden {
    display: none;
}