.profile-picture {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover; object-position: center;
    margin-bottom: 20px;
}

/* @media (max-width: 600px){
    .profile-picture{
        width: 50px;
    }
} */