.Buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.Text{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Buttons > a {
    text-decoration: none;
}

.InnerContainer{
    border: 1px solid black;
    border-radius: 5px;
    /* width: 300px; */
}

.OuterContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

@media (max-width: 800px) {
  .InnerContainer{width: 75vw;}
  .OuterContainer{align-items: center;}
}

