/* .profile-picture {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover; object-position: center;
} */

table {
    width: 100%;
    
    border-collapse: collapse;
    table-layout: fixed;
    /* border-spacing: 0 10px; */
}

td:nth-child(1){
    text-align: center;
}

.student-name {
    font-weight: bold;
}

@media (max-width: 800px) {
    table tr > * {
        display: block;
    }
    table tr {
        display: table-cell;
        vertical-align: top;
    }
    .card-container{
        align-items: center;
    }
    .card {
        width: 80%;
        text-align: center;
    }
    h3 {
        padding-left: 0;
        padding-right: 0;
    }
} 

